<%= form_with(model: [work, reaction]) do |form| %>
  <div class="form-group">
    <% Sticker.all.each do |sticker| %>
      <%= form.radio_button :sticker_id, sticker[:id] %>
      <label><%= image_tag sticker.image.url %></label>
    <% end %>
  </div>
  <%# <% form.hidden_field :work_id, value: @work.id %> %>
  <%# <% form.hidden_field :user_id, value: @current_user.id %> %>
  <%# <% binding.pry %> %>
  <div class="actions">
    <%= form.submit class: 'btn btn-outline-primary btn-sm' %>
  </div>
<% end %>
